/**********       TAG SELECTORS       **********/ 
h1 {
    color: red;
    font-size: 50px;
}

img {
    background-color: red;
}

p {
    color: red;
}
/**********       CLASS SELECTORS       **********/ 
.bacon {
    background-color: blue;
}

.para {
    font-size: 25px;
    color: blue;
}


/**********       ID SELECTORS       **********/ 
#heading {
    font-size: 150px;
}

#pid {
    font-size: 12px;
    color: black;
}
